{% extends 'core/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>{% block title %}welcome Berita{% endblock %}</title>
    {% block htmlhead %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css'%}">
    {% endblock htmlhead %}

</head>
<body>
    {% block content %}
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://akcdn.detik.net.id/visual/2023/11/13/indonesia-vs-panama-2_169.jpeg?w=650&q=90" 
            class="d-block w-100 h-75" style="filter: brightness(50%);">
            <center><h1 style="position: absolute; left: 0px; width: 100%; top: 170px; color: #ffffff; font-size: 340%; text-shadow: 3px 2px 1px grey;">
              Prediksi Indonesia vs Maroko di Piala Dunia U-17</h1></center>
            <center><p style="position: absolute; left: 0px; width: 100%; top: 250px; color: #ffffff; font-size: 120%;">
              consectetur adipiscing elit. Suspendisse ullamcorper pharetra nulla</p></center>
            <center><a href="" class="btn btn-lg btn-danger" style="position: relative; top: -220px;">View More</a></center>
          </div>
          <div class="carousel-item">
            <img src="https://pbs.twimg.com/media/F8o-ZmQW0AAZ9Bu.jpg" class="d-block w-100 h-75" style="filter: brightness(50%);">
            <center><h1 style="position: absolute; left: 0px; width: 100%; top: 170px; color: #ffffff; font-size: 340%; text-shadow: 3px 2px 1px grey;">
              Kerja Sama politik antara Inggris Australia</h1></center>
            <center><p style="position: absolute; left: 0px; width: 100%; top: 250px; color: #ffffff; font-size: 120%;">
              consectetur adipiscing elit. Suspendisse ullamcorper pharetra nulla</p></center>
            <center><a href="" class="btn btn-lg btn-danger" style="position: relative; top: -220px;">View More</a></center>
          </div>
          <div class="carousel-item">
            <img src="https://imgeng.jagran.com/images/2023/mar/healthy-lifestyle-changes-for-weight-loss1677901066822.jpg" class="d-block w-100 h-75" style="filter: brightness(50%)";>
            <center><h1 style="position: absolute; left: 0px; width: 100%; top: 170px; color: #ffffff; font-size: 340%; text-shadow: 3px 2px 1px grey;">
              Tips Makanan sehat untuk aktivitas</h1></center>
            <center><p style="position: absolute; left: 0px; width: 100%; top: 250px; color: #ffffff; font-size: 120%;">
              consectetur adipiscing elit. Suspendisse ullamcorper pharetra nulla</p></center>
            <center><a href="" class="btn btn-lg btn-danger" style="position: relative; top: -220px;">View More</a></center>
          </div>
          <div class="carousel-item">
            <img src="https://studio.mrngroup.co/storage/app/media/Prambors/Editorial%203/Coldplay%20tambah%20hari-20230609121830.webp?tr=w-600" class="d-block w-100 h-75" style="filter: brightness(50%)";>
            <center><h1 style="position: absolute; left: 0px; width: 100%; top: 170px; color: #ffffff; font-size: 340%; text-shadow: 3px 2px 1px grey;">Coldplay concert tour around the world</h1></center>
            <center><p style="position: absolute; left: 0px; width: 100%; top: 250px; color: #ffffff; font-size: 120%;">consectetur adipiscing elit. Suspendisse ullamcorper pharetra nulla</p></center>
            <center><a href="" class="btn btn-lg btn-danger" style="position: relative; top: -220px;">View More</a></center>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <a class="weatherwidget-io" href="https://forecast7.com/en/n6d92107d62/bandung/" data-label_1="BANDUNG" data-label_2="WEATHER" data-theme="pure" style="top: -50px;">BANDUNG WEATHER</a>

      <br>
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <img src="https://asset.kompas.com/crops/cC3WVff2dG152XuP_4cOtX-O0HU=/0x0:0x0/750x500/data/photo/2023/11/08/654afd71a7adc.jpg" style="width:640px; height: 310px;">
          </div>
          <div class="col">
            <h3 style="text-align: left;">Jokowi: Jangan Coba-coba Intervensi Pemilu, Jelas Sangat Sulit</h3> 
            <br>
            <p style="text-align: left;">Massa aksi bela Palestina akan memulai kegiatan dengan berjalan kaki atau long march dari Monumen Nasional (Monas) 
              ke Bundaran Hotel Indonesia (HI), lalu kembali lagi ke Monas.Mereka menyebutnya sebagai jalan sehat.
              Aksi yang diinisiasi Majelis Ulama Indonesia (MUI) ini akan dimulai pukul 06.00 WIB. Massa akan memulai long march dari Patung Kuda.
            </p>
            <p style="text-align: left;">"Dimulai pukul 06.00 WIB dari Monas (Pintu Barat Daya Monas/Patung Kuda). Rute jalan sehat: Monas 
              (pintu barat daya/Patung Kuda)-Bundaran HI,Aksi Bela Palestina Diawali Jalan Kaki dari Monas-Bundaran HI-Monas"
            </p>
          </div>
        </div>
      </div>

      <br><br><br>
      <div class="container text-center">
        <div class="row">
          <div class="col-8">
            <h1 style="text-align:left;">Whats News on Edunews Today</h1>
          </div>
          <div class="col-4">
            <form class="d-flex" role="search" style="margin-top: 5px;">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
      <br>

    
    <div class="container text-center">
        <div class="row">
            {% for Berita in beritas %}
          <div class="col-3">
            <div class="card" style="width: 18rem;">
              <img src="{{Berita.gambar.url}}" class="card-img-top" style="height: 230px;">
              <div class="card-body">
                <h6 style="color: #c0b7b7;">{{Berita.kategori}}</h6>
                <h5 style="color:#415ae9 ; margin-top: 20px;">{{Berita.judul}}</h5>
                <p class="card-text" style="margin-top: 20px;">{{Berita.deskripsi}}</p>
                <p style="font-size:small; color: rgba(134, 134, 134, 0.889);">{{Berita.penulis}}, {{Berita.publikasi}}</p>
                <button type="button" class="btn btn-danger btn-sm" onclick="location.href='{% url '/isiberita/'}'">Click Here</button>
              </div>
            </div>
            <br>
          </div>
          {% endfor %}
        </div>
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="https://studioliterasi.com/wp-content/uploads/2020/08/Jokowi-saat-KTT-OKI.jpg" class="card-img-top" style="height: 230px;">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button type="button" class="btn btn-dark">PENCET!!!</button>
            </div>
          </div>
          <br>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="https://assets-a1.kompasiana.com/items/album/2021/02/11/jkwg20-6024cb498ede486b9a26c422.jpg" class="card-img-top" style="height: 230px;">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button type="button" class="btn btn-dark">Dark</button>
            </div>
          </div>
          <br>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="https://images.bisnis-cdn.com/posts/2019/01/25/882474/whatsapp-image-2019-01-25-at-1.21.47-pm-min.jpeg" class="card-img-top" style="height: 230px;">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button type="button" class="btn btn-dark">Dark</button>
            </div>
          </div>
          <br>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="https://imgsrv2.voi.id/s_MJV58ASSXUFaH_lDMQ7UPm1wgsl_C9V4-aX2MViXM/auto/1200/675/sm/1/bG9jYWw6Ly8vcHVibGlzaGVycy8yNjc2MzcvMjAyMzAzMjgxOTExLW1haW4ucG5n.jpg" class="card-img-top" style="height: 230px;">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button type="button" class="btn btn-dark">Dark</button>
            </div>
          </div>
          <br>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="https://blue.kumparan.com/image/upload/fl_progressive,fl_lossy,c_fill,q_auto:best,w_640/v1570778021/eds30np31tqipi3wqhwq.jpg" class="card-img-top" style="height: 230px;">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button type="button" class="btn btn-dark">Dark</button>
            </div>
          </div>
          <br>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="https://images-tm.tempo.co/all/2021/07/10/776883/776883_1200.jpg" class="card-img-top" style="height: 230px;">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button type="button" class="btn btn-dark">Dark</button>
            </div>
          </div>
          <br>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="https://www.kosmo.com.my/wp-content/uploads/2022/06/jangka-hayat-ahli-politik_11zon-scaled.jpg" class="card-img-top" style="height: 230px;">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button type="button" class="btn btn-dark">Dark</button>
            </div>
          </div>
          <br>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="https://pict.sindonews.net/dyn/850/pena/news/2022/12/16/12/971421/terjun-ke-dunia-politik-eks-jurnalis-ini-ingin-membantu-banyak-orang-bch.jpg" class="card-img-top" style="height: 230px;">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button type="button" class="btn btn-dark">Dark</button>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>

      <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
      </script>
    {% endblock %}
</body>
</html>